# Configurations
title:            About FAQ
longtitle:        A small test for creating FAQ site with Jekyll Gitbook
author:           Jani Lahti
email:            jani.lahti@iki.fi
description: >
  Let's try to build a FAQ site with the GitBook style using Jekyll.

version:          1.0
gitbook_version:  3.2.3

url:              'https://janilahti.github.io'
baseurl:          '/faq'
#baseurl:          ''

toc:
  enabled: true
  h_min: 1
  h_max: 3

# markdown render engine.
markdown:         kramdown
kramdown:
  auto_ids:               true
  input:                  GFM
  math_engine:            mathjax
  smart_quotes:           lsquo,rsquo,ldquo,rdquo
  toc_levels:             1..6
  syntax_highlighter:     rouge
  syntax_highlighter_opts:
    guess_lang:           true

syntax_highlighter_style: colorful

markdown_ext:     markdown,mkdown,mkdn,mkd,md

# Permalinks
permalink:        /:categories/:year-:month-:day-:title:output_ext

exclude:
  - _drafts

collections:
  pages:
    output: true
    #permalink: /:collection/:path/
    permalink: /:path/

extra_css:
  - stuff/rad.css

# extra_header_js:
# extra_footer_js:

destination:      ./_site
incremental:      false
regenerate:       true

#plugins:
#  - jekyll-feed
#  - jemoji
